@import url("https://fonts.googleapis.com/css?family=Quicksand:300,500");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --primary-glow: conic-gradient(
            from 180deg at 50% 50%,
            #16abff33 0deg,
            #0885ff33 55deg,
            #54d6ff33 120deg,
            #0071ff33 160deg,
            transparent 360deg
    );
    --secondary-glow: radial-gradient(
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0)
    );

    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(
            #00000080,
            #00000040,
            #00000030,
            #00000020,
            #00000010,
            #00000010,
            #00000080
    );

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;

    /*Palette*/
    --midnight-blue-rgb: 13, 27, 42;
    --charcoal-blue-rgb: 27, 38, 59;
    --shadow-blue-rgb: 65, 90, 119;
    --slate-blue-rgb: 119, 141, 169;
    --onyx-blue-rgb: 176, 197, 232;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

body {
    color: rgb(var(--onyx-blue-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--midnight-blue-rgb))
    ) rgb(var(--charcoal-blue-rgb));
    font-size: 16px;
    line-height: 1.5;
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*overflow: hidden;*/
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-size: 7vw;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@media screen and (min-width: 768px) {
    main, nav {
        font-size: 1.6vw;
    }
}

.fill-white {
    fill: white;
}

@keyframes blink {
    0% {
        caret-color: var(--foreground-rgb);
    }
    100% {
        caret-color: transparent;
    }
}

.blink-caret {
    animation: blink 1s ease-in-out infinite;
}

.ts {
    caret-shape: underscore;
}

.top-shadow {
    box-shadow: inset 0 200px 10px -122px rgba(var(--midnight-blue-rgb), 0.75);
}

.text-xs {
    font-size: 14px;
}

footer {
    padding: .25rem .75rem;
}